<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Exercises</h1>
    
  </div>
</div>


    <div style="text-align:center;">
        
        <% @categories.each do |category| %>
          <ul style="list-style: none;">
          <li><%=link_to category.name,category_path(category) %></li>
          </ul>
        <% end %>
        
    </div>

<script>
$(function(){
 
 
});
  
  
</script>